body {
    
}
button {
    background-color: #E97777 !important ;
    border:none !important;
}
button:hover {
    background-color: #FF9F9F !important;
}
h1{

    font:"Saccramento", arial;
    font-weight: bold;
    text-align:center
    
}
form{
    display:inline-block !important;
}

