.dayHeader {
    background-color: white !important;
    color: black !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.dayHeader:hover {
    background-color: white!important;
}